numpy==1.26.4
pandas==2.2.3
seaborn==0.13.2
matplotlib==3.9.2
python-dotenv==1.0.1
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
Werkzeug==3.0.4
keras==3.5.0
tensorflow==2.17.0
tensorflow-datasets==4.9.6
keras-cv==0.9.0
comet-ml==3.47.0

# -e .